argon2-cffi
async-generator
attrs
backcall
bleach
Brotli==1.0.9
certifi==2021.10.8
cffi
click==8.0.3
colorama
dash==2.1.0
dash-bootstrap-components==1.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy
decorator
defusedxml
entrypoints==0.3
et-xmlfile==1.1.0
Flask==2.0.2
Flask-Compress==1.10.1
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous==2.0.1
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
MarkupSafe
matplotlib-inline
mistune==0.8.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy==1.22.2
openpyxl==3.0.9
packaging
pandas==1.4.0
pandocfilters
parso
patsy==0.5.2
pickleshare
plotly==5.5.0
plotly-express==0.4.1
prometheus-client
prompt-toolkit
pybase64==1.2.1
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz==2021.3
pywin32==302
pywinpty==0.5.7
pyzmq
scipy==1.7.3
Send2Trash
six
statsmodels==0.13.1
tenacity==8.0.1
terminado==0.9.4
testpath
tornado
traitlets
wcwidth
webencodings==0.5.1
Werkzeug==2.0.2
wincertstore==0.2
xlrd==2.0.1
zipp
